/* cyrillic-ext */
@font-face {
font-family: 'Exo 2';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsNNC_nps.woff2) format('woff2');
unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
font-family: 'Exo 2';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsPdC_nps.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
font-family: 'Exo 2';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsNtC_nps.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
font-family: 'Exo 2';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsN9C_nps.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Exo 2';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/exo2/v19/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-size: 13px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font: 1rem/1 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	color: #0052CE;
	background-color: #FFF401;
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	overflow: auto;
}

.content {
	padding: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1280px;
}

.content.short {
	max-height: 600px;
}
.content.medium {
	max-height: 640px;
}
.content.long {
	max-height: 660px;
}

.donate-description {
	padding-bottom: 0.5rem;
	font-size: 2.4rem;
	font-weight: bold;
}

.short .donate-sub-description {
	font-size: 1.75rem;
}
.medium .donate-sub-description {
	font-size: 1.5rem;
}
.long .donate-sub-description {
	font-size: 1.4rem;
}

.card-option-description {
	font-size: 1.75rem;
	padding-bottom: 0.5rem;
}

.bank-option {
	padding: 2rem 0 1.5rem;
	width: 100%;
}

.bank-link {
	margin-bottom: 1rem;
}

.bank-logo {
	color: black;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-decoration: none;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: bold;
	border-radius: 3rem;
	height: 3.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bank-logo:hover {
	background-color: #e7e7e7;
}

.bank-logo:active {
	filter: invert(1);
}

.privat-logo {
	background-image: url("data:image/svg+xml,%3Csvg width='214' height='58' viewBox='0 0 214 58' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.8945 41.0322H39.964V23.6154H57.7011V41.0322H52.7705V26.9963H44.8817V41.0322H44.8945Z'/%3E%3Cpath d='M64.4246 34.6805C64.4246 31.1458 66.6017 30.4543 67.9848 30.4543C69.3295 30.4543 71.5066 31.1458 71.5066 34.6805C71.5066 36.8704 70.5845 38.9578 67.9848 38.9578C65.3338 38.9706 64.4246 36.8704 64.4246 34.6805ZM60.096 28.3796V45.63H64.6423V39.7262C66.1662 41.3655 68.6379 41.4935 69.2398 41.4935C73.5684 41.4935 76.2322 38.7273 76.2322 34.7189C76.2322 30.5439 73.6068 27.9058 69.3295 27.9058C68.2537 27.9058 66.1662 28.0851 64.4246 29.9036H64.3349L64.3605 28.3796H60.096Z'/%3E%3Cpath d='M87.489 39.5085C85.8114 41.0709 84.2106 41.4936 82.4176 41.4936C77.5256 41.4936 77.3463 37.8053 77.3463 36.2941V28.3797H81.8798V35.6922C81.8798 38.2023 82.7506 38.9579 84.4155 38.9579C87.2841 38.9579 87.489 36.3966 87.489 35.4745V28.3797H92.0354V41.0197H87.489V39.5085Z'/%3E%3Cpath d='M98.5411 30.9282H100.987C102.268 30.9282 103.382 31.1331 103.382 32.1704C103.382 33.323 101.653 33.3358 100.91 33.3358H98.5539V30.9282H98.5411ZM93.9948 28.3797V41.0197H103.011C106.302 41.0197 108.569 40.3666 108.569 37.7797C108.569 35.7947 107.467 34.9238 104.957 34.4756V34.3987C106.596 34.181 108.031 33.1565 108.031 31.4404C108.031 28.3797 104.445 28.3797 103.049 28.3797H93.9948ZM98.5411 35.705H101.32C103.472 35.705 103.92 36.3581 103.92 37.2034C103.92 37.7541 103.625 38.4968 101.384 38.4968H98.5539V35.705H98.5411Z'/%3E%3Cpath d='M119.557 35.8074C119.557 38.3431 117.341 38.9707 116.24 38.9707C115.407 38.9707 113.909 38.7017 113.909 37.4979C113.909 36.0764 115.612 35.8074 116.573 35.6794C118.34 35.4361 118.186 35.5001 119.557 35.0134V35.8074ZM114.306 32.4649C114.306 30.5952 116.278 30.4543 117.085 30.4543C117.597 30.4543 119.48 30.4799 119.531 32.1192C119.531 32.2472 119.531 32.3369 119.531 32.4649C119.441 33.7072 118.25 33.4639 114.908 33.8865C112.154 34.2579 109.26 34.9622 109.26 37.8437C109.26 38.8938 109.708 41.5064 114.549 41.5064C116.406 41.5064 118.43 41.0325 119.621 39.7903H119.71L120.095 41.0325H124.871V40.8148C124.001 40.6355 123.949 39.7903 123.975 38.42L124.065 32.6442C124.09 31.1715 123.949 27.9186 117.111 27.9186C115.471 27.9186 110.182 28.0723 109.977 32.4777H114.306V32.4649Z'/%3E%3Cpath d='M124.577 30.9282V28.3925H139.151V30.9282H134.131V41.0325H129.597V30.9282H124.577Z'/%3E%3Cpath d='M144.952 33.4636H149.037C150.228 33.4636 152.623 33.5916 152.623 35.6791C152.623 37.3183 150.894 37.6513 148.948 37.6513H144.952V33.4636ZM144.952 26.9963H156.273V23.6154H140.021V41.0322H149.998C154.839 41.0322 157.938 39.3418 157.938 35.7816C157.938 30.2107 151.727 30.0827 149.998 30.0827H144.952V26.9963Z'/%3E%3Cpath d='M169.105 35.8074C169.105 38.3431 166.89 38.9707 165.788 38.9707C164.956 38.9707 163.457 38.7017 163.457 37.4979C163.457 36.0764 165.161 35.8074 166.108 35.6794C167.876 35.4361 167.722 35.5001 169.092 35.0134V35.8074H169.105ZM163.854 32.4649C163.854 30.5952 165.827 30.4543 166.633 30.4543C167.146 30.4543 169.028 30.4799 169.08 32.1192C169.08 32.2472 169.08 32.3369 169.08 32.4649C168.99 33.7072 167.799 33.4639 164.444 33.8865C161.703 34.2579 158.796 34.9622 158.796 37.8437C158.796 38.8938 159.244 41.5064 164.085 41.5064C165.942 41.5064 167.965 41.0325 169.156 39.7903H169.246L169.63 41.0325H174.407V40.8148C173.549 40.6355 173.485 39.7903 173.511 38.42L173.6 32.6442C173.626 31.1715 173.485 27.9186 166.646 27.9186C165.007 27.9186 159.718 28.0723 159.513 32.4777H163.854V32.4649Z'/%3E%3Cpath d='M180.106 41.0325H175.572V28.3925H180.106V33.1437H185.574V28.3925H190.108V41.0325H185.574V35.6794H180.106V41.0325Z'/%3E%3Cpath d='M201.57 28.3797H206.615L200.379 34.3091L206.923 41.0325H201.608L196.716 35.5129H196.626V41.0325H192.093V28.3925H196.626V33.4767H196.716L201.57 28.3797Z'/%3E%3Cpath d='M18.3722 29.6985H7V41.0707H18.3722V29.6985Z'/%3E%3Cpath d='M7.01283 12V26.1512H10.0224C17.9368 26.1512 21.9453 30.1597 21.9453 38.0741V41.0836H36.0965V12H7.01283ZM30.0902 18.0063C30.0902 21.8738 30.0902 31.197 30.0902 35.0646C29.0145 35.0646 28.8224 35.0646 27.7722 35.0646C26.7733 26.6251 21.4714 21.3232 13.0319 20.3242C13.0319 19.2741 13.0319 19.082 13.0319 18.0063C16.8867 18.0063 26.2226 18.0063 30.0902 18.0063Z'/%3E%3C/svg%3E%0A");
}

.mono-logo {
	background-image: url("data:image/svg+xml,%3Csvg width='214' height='58' viewBox='0 0 214 58' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M53.8615 39.6112V28.3034C53.8615 25.0957 52.122 23.5728 49.2009 23.5728C46.772 23.5728 44.6715 24.9985 43.7524 26.424C43.1616 24.642 41.6846 23.5728 39.3543 23.5728C36.9254 23.5728 34.825 25.0632 34.1684 26.0028V23.9618H30V39.6112H34.1684V29.0811C34.7921 28.2062 36.0065 27.2342 37.4505 27.2342C39.1573 27.2342 39.8137 28.2709 39.8137 29.7291V39.6112H44.015V29.0487C44.6058 28.2062 45.8202 27.2342 47.2971 27.2342C49.0039 27.2342 49.6603 28.2709 49.6603 29.7291L49.6604 39.6112H53.8615ZM65.3165 40C60.0978 40 56.9468 36.2415 56.9468 31.7703C56.9468 27.3313 60.0977 23.573 65.3165 23.573C70.5679 23.573 73.719 27.3315 73.719 31.7703C73.719 36.2415 70.5681 40 65.3165 40ZM65.3165 36.3388C67.9093 36.3388 69.3864 34.2327 69.3864 31.7703C69.3864 29.3403 67.9095 27.2342 65.3165 27.2342C62.7234 27.2342 61.2793 29.3403 61.2793 31.7703C61.2793 34.2327 62.7236 36.3388 65.3165 36.3388ZM91.6726 39.6112V28.5626C91.6726 25.5169 89.9987 23.5728 86.5195 23.5728C83.9267 23.5728 81.9902 24.804 80.9726 26.0028V23.9618H76.8041V39.6112H80.9726V29.0811C81.6619 28.1415 82.942 27.2342 84.5831 27.2342C86.3554 27.2342 87.5042 27.9795 87.5042 30.1503V39.6112H91.6726ZM103.16 40C97.9416 40 94.7906 36.2415 94.7906 31.7703C94.7906 27.3313 97.9415 23.573 103.16 23.573C108.412 23.573 111.563 27.3315 111.563 31.7703C111.563 36.2415 108.412 40 103.16 40ZM103.16 36.3388C105.753 36.3388 107.23 34.2327 107.23 31.7703C107.23 29.3403 105.753 27.2342 103.16 27.2342C100.567 27.2342 99.1231 29.3403 99.1231 31.7703C99.1231 34.2327 100.567 36.3388 103.16 36.3388ZM118.816 34.589C119.506 35.5935 121.048 36.3386 122.394 36.3386C124.823 36.3386 126.431 34.5242 126.431 31.8025C126.431 29.0809 124.823 27.234 122.394 27.234C121.048 27.234 119.506 28.0116 118.816 29.0485V34.589ZM118.816 39.6112H114.648V18H118.816V25.9705C120.063 24.383 121.836 23.5728 123.707 23.5728C127.744 23.5728 130.731 26.6832 130.731 31.8025C130.731 37.019 127.711 39.9998 123.707 39.9998C121.803 39.9998 120.063 39.1574 118.816 37.6021V39.6112ZM147.568 39.6112H143.4V37.9912C142.317 39.2549 140.446 40 138.378 40C135.851 40 132.864 38.3151 132.864 34.8159C132.864 31.1547 135.851 29.7615 138.378 29.7615C140.479 29.7615 142.35 30.4419 143.4 31.6731V29.567C143.4 27.9795 142.022 26.9426 139.921 26.9426C138.214 26.9426 136.639 27.5583 135.293 28.7895L133.717 26.0354C135.654 24.3505 138.148 23.573 140.643 23.573C144.253 23.573 147.568 24.9987 147.568 29.5023L147.568 39.6112ZM140.052 37.2135C141.398 37.2135 142.711 36.7598 143.4 35.8527V33.9086C142.711 33.0015 141.398 32.5478 140.052 32.5478C138.411 32.5478 137.065 33.3903 137.065 34.9131C137.065 36.3711 138.411 37.2135 140.052 37.2135ZM166.572 39.6112V28.5626C166.572 25.5169 164.898 23.5728 161.419 23.5728C158.826 23.5728 156.89 24.804 155.872 26.0028V23.9618H151.704V39.6112H155.872V29.0811C156.562 28.1415 157.842 27.2342 159.483 27.2342C161.255 27.2342 162.404 27.9795 162.404 30.1503V39.6112H166.572ZM186.2 39.6112L179.734 31.0574L186.003 23.9618H180.883L174.876 30.9278V18H170.708V39.6112H174.876V35.5935L176.78 33.5847L180.981 39.6112H186.2Z'/%3E%3C/svg%3E%0A");
}

.revolut-logo {
	background-image: url("data:image/svg+xml,%3Csvg width='214' height='58' viewBox='0 0 214 58' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M122.464 26.3753C120.711 24.8609 118.595 24.1208 116.148 24.1208C113.735 24.1208 111.619 24.8622 109.865 26.3753C108.112 27.8567 107.221 29.9189 107.221 32.5604C107.221 35.202 108.112 37.2629 109.865 38.7772C111.618 40.2587 113.735 41 116.148 41C118.595 41 120.711 40.2587 122.464 38.7772C124.25 37.2629 125.141 35.202 125.141 32.5604C125.141 29.9188 124.249 27.8568 122.464 26.3753ZM112.843 35.9421C111.918 35.073 111.453 33.9445 111.453 32.5604C111.453 31.1752 111.915 30.0479 112.843 29.2104C113.768 28.3412 114.86 27.9224 116.147 27.9224C117.434 27.9224 118.56 28.3412 119.486 29.2104C120.443 30.0479 120.908 31.1752 120.908 32.5604C120.908 33.9457 120.446 35.073 119.486 35.9421C118.561 36.7795 117.436 37.1984 116.147 37.1984C114.86 37.1984 113.77 36.7796 112.843 35.9421ZM131.393 40.5479V18.4441H127.227V40.5479H131.393ZM144.84 24.5709V33.3903C144.84 35.5157 143.661 36.9241 141.417 36.9241C139.135 36.9241 137.987 35.5169 137.987 33.3903V24.5709H133.813V34.0671C133.813 37.7458 136.194 40.9985 141.417 40.9985H141.449C146.64 40.9985 149.016 37.674 149.016 34.0671V24.5709H144.84ZM102.786 24.5709L98.6203 35.394L94.4543 24.5709H90.0239L96.6715 40.5481H100.574L107.22 24.5709H102.786ZM90.0454 32.1088C90.0454 29.7898 89.2856 27.8896 87.7972 26.3753C86.3086 24.8609 84.3935 24.1208 82.0454 24.1208C79.6325 24.1208 77.5812 24.9267 75.8944 26.5043C74.24 28.0832 73.4154 30.0795 73.4154 32.5604C73.4154 35.0413 74.2412 37.0706 75.862 38.6482C77.5164 40.227 79.5002 41 81.847 41C85.4528 41 87.998 39.4541 89.5488 36.3292L86.4421 34.5896C85.4191 36.5544 83.9294 37.5209 81.9132 37.5209C79.4341 37.5209 77.6811 35.975 77.4165 33.527H90.0443V32.1088H90.0454ZM81.9107 27.2128C84.2576 27.2128 85.8133 28.5007 86.2088 30.5629H77.4141C78.0441 28.6626 79.761 27.2128 81.9107 27.2128ZM73.4155 40.5482L67.8259 31.0143C71.3618 29.758 73.1147 27.5681 73.1147 24.3787C73.1186 20.4808 69.942 18 64.884 18H55V40.5482H59.3643V31.4001H63.0686L68.4235 40.5482H73.4155ZM64.884 21.7359C67.4629 21.7359 68.7531 22.7341 68.7531 24.6989C68.7531 26.6636 67.4617 27.6618 64.884 27.6618H59.3643V21.7359H64.884ZM156.079 40.9986C153.397 40.9986 151.223 38.8792 151.223 36.2632V20.2546H155.388V24.5771H158.96V27.8627H155.388V36.0028C155.388 36.7697 156.026 37.3904 156.814 37.3904H158.96V40.9986H156.079Z'/%3E%3C/svg%3E%0A");
}

.card-number-block:hover {
	cursor: pointer;
}

.card-number-block.copied #copied-description {
	display: block;
}

.card-number-block.copied #copy-suggestion {
	display: none;
}

.number-description {
	font-size: 1rem;
	padding-bottom: 0.5rem;
	line-height: 1.4;
}

#copied-description {
	display: none;
}

.card-number {
	font-size: 1.75rem;
	font-weight: bold;
	padding: 0.5rem 0;
}

.card-number::after {
	content: "";
	background-image: url(img/copy-text.svg);
	width: 16px;
	height: 16px;
	display: inline-block;
}

.card-number-block:not(:active) .card-number {
	transition-property: color, text-shadow;
	transition-duration: 2s;
}

.card-number-block:active .card-number {
	color: #c22d00;
	text-shadow: 0 0 5px #e74100;
}

@media (min-width: 360px) {
	html {
		font-size: 16px;
	}

	.card-number::after {
		width: 20px;
		height: 20px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 18px;
	}

	.short .donate-sub-description,
	.medium .donate-sub-description,
	.long .donate-sub-description {
		font-size: 1.75rem;
	}

	.content.short,
	.content.medium,
	.content.long {
		max-height: 500px;
	}

	.bank-option {
		display: flex;
		flex-wrap: wrap;
		max-width: 700px;
		margin: 0 auto;
	}
	.bank-link {
		padding: 0 1rem;
		flex: 1 0 50%;
		text-align: center;
	}
	.bank-logo {
		font-size: 1.25rem;
		height: 2.6rem;
		background-size: auto 2.4rem;
	}
	.card-number::after {
		width: 22px;
		height: 22px;
	}
}

@media (min-width: 1280px) {
	html {
		font-size: 20px;
	}

	.content.short,
	.content.medium,
	.content.long {
		max-height: 650px;
	}

	.donate-description {
		font-size: 4rem;
	}
	.donate-sub-description {
		font-size: 2rem;
	}
	.card-number::after {
		width: 24px;
		height: 24px;
	}
}

@media (max-height: 610px) {
	html {
		font-size: 12px;
	}

	.content.short {
		max-height: 400px;
	}
	.content.medium {
		max-height: 420px;
	}
	.content.long {
		max-height: 440px !important;
	}

	.bank-logo {
		height: 3rem;
	}

	.card-number::after {
		width: 16px;
		height: 16px;
	}
}
